{% extends 'base.htm' %}

{% block content %}

    <!-- GET STARTED SECTION  -->
    <section id="contact" class="get-started pt-5 mt-5" style="background: linear-gradient(
        to right,
        #ffb75e,
        #ED8F03
      );">
        <div class="container">
            <div class="row text-center">
                <h1 class="display-3 fw-bold text-capitalize">Log in</h1>
                <div class="heading-line"></div>
                <h4 class="lh-lg text-capitalize mb-3">we're glad that you came back again.
                </h4>
            </div>

            <!-- STARTING LOG IN FORM -->

            <div class="container d-flex justify-content-center">
                <div class="bg-white shadow p-3 border border-light rounded">
                    <div class="form w-100 pb-2">
                        <!-- <h4 class="display-3--title mb-5">start your project</h4> -->
                        <form action="login" method="post" class="row">

                            {% csrf_token %}

                            <!-- ALERT FOR ERRORS  -->
                            {% if error %}
                            <div class="alert alert-danger mb-5" role="alert">
                                {{error}}
                              </div>
                            {% endif %}

                            <!-- EMAIL  -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
                                <label for="inputEmail" class="text-dark">
                                    <h5>E-Mail</h5>
                                </label>
                                <input required value="{{values.email}}" type="email" placeholder="Email Address" id="inputEmail"
                                    class="shadow form-control form-control-md" name="email">
                            </div>

                            <!-- PASSWORD  -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
                                <label for="inputpass" class="text-dark">
                                    <h5>Password</h5>
                                </label>
                                <input  type="password" placeholder="Password" id="inputpass"
                                    class="shadow form-control form-control-md" name="password">
                            </div>

                            <!-- SUBMIT BUTTON  -->
                            <div class="text-center d-grid mt-1">
                                <input type="submit" value="Login" class="btn-primary rounded-pill pt-3 pb-3 submit"
                                    style="background-color: #ED8F03; border: none; color: rgb(49, 49, 49)">
                            </div>
                        </form>
                    </div>
                </div>
            </div>



                
        </div>
    </section>


{% endblock %}